.baby1 {
  background-color: chartreuse;
  font-style: oblique;
  margin-left:1%;
  margin-right:1%;
  width:30%;
  height: 150px;
  float:left;
  text-align: center;
  border: solid red;
  border-width: 10px;
  box-sizing: border-box;
  
}

.baby2 {
  background-color: chocolate;
  font-style: italic;
  margin-left: 1%;
  margin-right: 1%;
  width: 30%;
  height: 150px;
  float:left;
  text-align: center;
  border: solid yellow;
  border-width: 10px;
  border-style: border-box;
  box-sizing: border-box;
  
}

.baby3 {
  background-color: cyan;
  font-style: inherit;
  margin-left: 1%;
  margin-right: 1%;
  width: 30%;
  height: 150px;
  float:left;
  text-align: center;
  border: solid green;
  border-width: 10px;
  box-sizing: border-box;
  
}

.baby-names{
  text-size: 100px;
}